src/main/webapp/ItemService.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soapsample.training.ibm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ItemService" targetNamespace="http://soapsample.training.ibm.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soapsample.training.ibm.com/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://soapsample.training.ibm.com/">
  <xs:complexType name="getInventory">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInventoryResponse">
    <xs:sequence>
      <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="return" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="description" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="img" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="img_alt" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="id" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getInventory" nillable="true" type="tns:getInventory"></xs:element>
  <xs:element name="geInventoryResponse" nillable="true" type="tns:getInventoryResponse"></xs:element>
</xs:schema>  </wsdl:types>
  <wsdl:message name="getInventoryResponse">
    <wsdl:part element="tns:geInventoryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventory">
    <wsdl:part element="tns:getInventory" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ItemService">
    <wsdl:operation name="getInventory">
      <wsdl:input message="tns:getInventory" name="getInventory">
    </wsdl:input>
      <wsdl:output message="tns:getInventoryResponse" name="getInventoryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemServiceSoapBinding" type="tns:ItemService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="getInventory">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getInventory">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getInventoryResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemService">
    <wsdl:port binding="tns:ItemServiceSoapBinding" name="ItemServiceImplPort">
      <soap:address location="https://soapsample.mybluemix.net/ItemService"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>